{block:IfShowTagList}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://static.tumblr.com/xxf6ewk/hScof72wo/tumblrposts.js"></script>
  <script>
    $(document).ready(function(){
      (function() {
        var posts = new TumblrPosts({
          domain: location.host,
          maxNum:300
        });
        posts.bind(posts.EVENT_COMPLETE, function(e) {
          var that = this;
          $.each(this.getTags(), function(i, tag) {
            var html = '<li class="level' + (tag.count % 6 + 1) + '">'
            + '<a href="/tagged/' + tag.name + '">' + tag.name + '</a></li>';
            $(html).appendTo($("ul#tags"));
          });
        });
        posts.run();
      })();
    });
  </script>
{/block:IfShowTagList}

{block:IfShowCustomizeTagList}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://static.tumblr.com/xxf6ewk/hScof72wo/tumblrposts.js"></script>
  <script>
    $(document).ready(function(){
      (function() {
        var posts = new TumblrPosts({
          domain: location.host,
          maxNum:300
        });

        var tags = [];
        posts.bind(posts.EVENT_COMPLETE, function(e) {
          var NUMBER_OF_POSTS = 1000;
          $.each(this.getPosts(0, NUMBER_OF_POSTS), function(i, post) {
            var mainTag = post.tags[0];
            if ($.inArray(mainTag, tags) < 0) {
              var html = '<li class="level1">' + '<a href="/tagged/' + mainTag + '">' + mainTag + '</a></li>';
              $(html).appendTo($("ul#customizeTags"));
              tags.push(mainTag);
            }
          });
        });
        posts.run();
      })();
    });
  </script>
{/block:IfShowCustomizeTagList}

<script src="http://static.tumblr.com/xxf6ewk/Mh1ofifbk/scripts.js"></script>
</body>
</html>
